@CHARSET "UTF-8";

::-ms-input-placeholder {
   color: #a8a8a8;
}

::-webkit-input-placeholder {
   color: #a8a8a8;
}

::-moz-placeholder {
   color: #a8a8a8;
}

body {
   font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial,
      sans-serif;
   font-size: 13px;
   padding: 0;
   margin: 0;
   padding: 20px;
   background: #fff;
}

h1 {
   width: 100%;
   margin: 0px auto;
   text-align: center;
}

a {
   color: #000;
   text-decoration: none;
}

.btn {
   border: 0px;
   outline: none;
   background-color: transparent;
   z-index: 100;
}

.contents {
   top: 40px;
   width: 100%;
   height: 650px;
   background-color: #fff;
   margin: 0 auto;
}

body {
   text-align: center;
}

.productdetail {
   text-align: center;
   width: 100%;
   margin-bottom: 753px;
}

.productLeft {
   border: 3px solid LightCyan;
   float: left;
   margin-left: 15%;
   border-radius: 15px;
   position: relative;
   width: 45em;
   height: 45em;
   float: left;
}

.productRight {
   margin-right: 8%;
   float: right;
   position: relative;
   height: 35em;
}

.p1 {
   padding-bottom: 2em;
   font-size: 2em;
   text-align: left;
}

.p2 {
   font-size: 2em;
   text-align: left;
}

.detail {
   width: 700px;
   margin: 0 auto;
   padding-top: 20px;
}

.detail th {
   font-size: 30px;
}

.detail td {
   font-size: 20px;
}

.danger {
   width: 700px;
   margin: 0 auto;
   margin-top: 50px;
}

.danger th {
   font-size: 30px;
}

.danger td {
   font-size: 20px;
}

/* #buy {
   font-family: 돋움;
   background-color: #708090;
   width: 70px;
   height: 25px;
   border: 0px;
   outline: none;
   color: white;
}

#buy:hover {
   color: #483d8b;
} */

/* #cart {
   font-family: 돋움;
   background-color: #708090;
   width: 70px;
   height: 25px;
   border: 0px;
   outline: none;
   color: white;
}

#cart:hover {
   color: #483d8b;
} */
.pci {
   text-align: center;
   font-size: 3rem;
   margin-top: 5%;
   margin-bottom: 5%;
}

/* .btn_group {
   margin-top: -4.2em;
} */
.cart_btn {
   margin-top: 2em;
   width: 6.3em;
   padding: 10px 10px;
   font-size: 20px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: #fff;
   background-color: #6BA1FD;
   border: none;
   border-radius: 40px;
}

.buy_btn {
   width: 6.3em;
   padding: 10px 10px;
   font-size: 20px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: #fff;
   background-color: #6BA1FD;
   border: none;
   border-radius: 40px;
   margin-left: 1em;
}

.p_font_view_ex2 {
   font-size: 1.5em;
}

.a_pack {
   font-size: 5rem;
   font-family: 'Big Shoulders Inline Text', cursive;
}

.list_btn {
   margin-top: 10em;
   margin-bottom: 5em;
   margin-left: 35em;
   width: 9.3em;
   padding: 15px 25px;
   font-size: 24px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: #fff;
   background-color: #6BA1FD;
   border: none;
   border-radius: 15px;
   padding: 15px 25px;
}